*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


header{
    position: absolute;
    width: 100%;
    z-index: 2;
}

.logo{
    display: inline-block;
    padding-top: 31px;
}


.container{
    max-width: 1162px;
    margin: auto;
}

.container.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    padding-top: 32px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: '20 Kopeek', sans-serif;
}


header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.tel{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 27px 7px 33px;
    font-family: '20 Kopeek', sans-serif;
}

header li a{
    text-decoration:none;
    margin-left: 23px;
    color: #FFFFFF;

}

.social{
    padding-top: 32px;
    margin-left: 489px;
}


.section{
    background-image: url('../images/background.png');
    background-size: cover;
    padding-top: 344px;
    padding-bottom: 309px;
}

.title{
    max-width: 1162px;
    margin: auto;
    width: 100%;
}

.answer{
    margin-bottom: 55px;
    font-size: 34px;
    font-family: '20 Kopeek', sans-serif;
}

.question{
    margin-bottom: 30px;
    font-size: 55px;
    font-family: '20 Kopeek', sans-serif;
}


.portfolio{
    background: #FFFFFF;
    border-radius: 40px;
    padding: 23px 47px;
    margin-right: 20px;
    text-decoration:none;
    font-size: 18px;
    color: black;
    font-family: '20 Kopeek', sans-serif;
}

.fb{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 8px 12px 8px 12px;
    border-radius: 25px;
}

.inst{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 9px 9px 9px 9px;
    border-radius: 20px;
}

.w-50{
    width: 50%;
}

.box{
    display: flex;
}

.section-2{
    max-width: 1162px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 133px;
}

.question-2{
    font-family: '20 Kopeek', sans-serif;
    font-size: 38px;
    margin-bottom: 15px;
}


.text-2{
    font-family: '20 Kopeek', sans-serif;
    font-size: 18px;
    margin-left: 30px;
}


.text-3{
    margin-top: 150px;
    font-family: '20 Kopeek', sans-serif;
    font-size: 55px;
}


.description{
    font-family: '20 Kopeek', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
}

.number{
    font-family: '20 Kopeek', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 25px;
}

.ml-1{
    margin-left: 67px;
}

.ml-2{
    margin-left: 43px;
}
.ml-3{
    margin-left: 28px;
}

.ml-4{
    margin-left: 90px;
}
.row{
    display: flex;
    margin-top: 40px;
}

.w-40{
    width: 40%;
}

.mr{
    margin-right: 8px;
}

.fz{
    font-size: 15px;
}


.text-4{
    margin-top: 177px;
    font-family: '20 Kopeek', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;

}


.question-3{
    margin-top: 120px;
    font-family: '20 Kopeek', sans-serif;
    font-size: 38px;
    line-height: 110%;
    margin-left: 82px;
}

.background{
    padding: 11px 5px 11px 13px;
}


.background-2{
    background: #2B59C3;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 11px 5px 11px 13px;
}

.image{
    margin-top: 15px;
    margin-left: 82px;
}

.section-3{
    max-width: 1162px;
    margin: auto;
    padding-top: 144px;
    padding-bottom: 100px;
}

.w-100{
    width: 100%;
}

.amperia{
    font-family: "20 Kopeek";
    font-size: 55px;
    line-height: 15px;
    margin-top: 60px;
}


.ff-1{
    font-family: "20 Kopeek";
    font-size: 18px;
    font-weight: 600;
}


.see{
    font-size: 18px;
    font-weight: 600;
    font-family: "20 Kopeek";
    padding: 25px 47px;
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    text-decoration: none;
}


.margin{
    margin-top: 60px;
    margin-left: 136px;
}


.flex{
    display: flex;
}

.mt-100{
    margin-top: 100px;
}

.a-1{
    display: inline-block;
    padding: 23px 47px;
    background: #2B59C3;
    border-radius: 40px;
    font-size: 26px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 76px;
    text-decoration: none;
}

.center{
    text-align: center;
}

.section-4{
    max-width: 1162px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.background-3{
    margin-top: 56px;
    margin-left: 16px;
    background: #2B59C3;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 11px 39px 18px 14px;
    font-family: "20 Kopeek";
    font-size: 20px;
    line-height: 110%;
    font-weight: 600;
}

.background-4{
    margin-left: 16px;
    padding: 11px 39px 18px 14px;
    font-family: "20 Kopeek";
    font-size: 20px;
    line-height: 110%;
    font-weight: 600;
}

.mt-15{
    margin-top: 15px;
}

.text-5{
    font-family: "20 Kopeek";
    font-size: 26px;
    line-height: 110%;
}

.text-6{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
}

.product{
    font-family: "20 Kopeek";
    font-size: 38px;
    font-weight: 400;
    line-height: 41px;
    margin-top: 77px;
    margin-bottom: 11px;
}

.form-1{
    margin-right: 30px;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 23px 149px 23px 29px;
    font-size: 18px;
    font-weight: 400;
    font-family: "20 Kopeek";
    width: 350px;
}

.btn{
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
    font-size: 18px;
    font-family: "20 Kopeek";
    color: #FFFFFF;
    border: none;
}
.btn:hover{
    background: #01996D;
    color: chartreuse;
}

.box2{
    align-items: center;
    display: flex;
}


.checkbox{
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 21px;
}

.i-agree{
    font-weight: 600;
    font-family: "20 Kopeek";
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2B59C3;
}

.span{
    color: #181818;
}

.product{
    font-family: "20 Kopeek";
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    margin-top: 77px;
    margin-bottom: 11px;
}
.expert{
    font-family: "20 Kopeek";
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 27px;
}

.section-5{
    max-width: 1162px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}


.stages{
    font-family: "20 Kopeek";
    font-size: 55px;
    line-height: 100%;
    font-style: normal;
    font-weight: normal;
}


.flex-container{
    display: flex;
    justify-content: space-around;

}

.bulb{
    width: 255px;
}


.text-7{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    margin-top: 23px;
}


.text-8{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    width: 107px;
    color: #181818;
    margin-left: 155px;
}


.text-9{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    width: 160px;
    margin-top: 15px;
    margin-left: 155px;
}


.text-10{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    width: 107px;
    color: #181818;
    margin-left: 30px;
}


.text-11{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    width: 160px;
    margin-top: 15px;
    margin-left: 30px;
}

.sheet{
    width: 283px;
    margin-top: 62px;
}



.text-12{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    width: 107px;
    color: #181818;
    margin-left: 127px;
    margin-top: 60px;
}


.text-13{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    width: 160px;
    margin-top: 15px;
    margin-left: 127px;
}


.text-14{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    width: 160px;
    color: #181818;
    margin-left: 30px;
    margin-top: 60px;
}


.text-15{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    width: 160px;
    margin-top: 15px;
    margin-left: 30px;
}

.book{
    width: 283px;
    margin-top: 62px;
}

.text-16{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    width: 160px;
    color: #181818;
    margin-left: 127px;
    margin-top: 60px;
}

.text-17{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    width: 160px;
    margin-top: 15px;
    margin-left: 127px;
}


.text-18{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    width: 200px;
    color: #181818;
    margin-left: 30px;
    margin-top: 60px;
}

.section-6{
    background-image: url('../images/Rectangle 32.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 282px;
    padding-bottom: 80px;
    width: 100%;
    background-position: center;
}

.title-2{
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    font-family: '20 Kopeek';
    color: #FFFFFF;
}
.number-2{
    color: #FFFFFF;
    font-size: 55px;
    line-height: 55px;
    font-weight: 400;
    font-family: '20 Kopeek';
    padding-right: 8px;
    padding-top: 40px;
}
.text_1{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family: '20 Kopeek';
    width: 150px;
    padding-top: 65px;
    padding-right: 28px;
}


.backgroundimg{
    background-image: url('../images/012.jpg');
    background-size: cover;
    padding-top: 344px;
    padding-bottom: 309px;
}

.backgroundimg2{
    background-image: url('../images/013.jpg');
    background-size: cover;
    padding-top: 344px;
    padding-bottom: 309px;
}

.backgroundimg3{
    background-image: url('../images/014.jpg');
    background-size: cover;
    padding-top: 344px;
    padding-bottom: 309px;
}


.wrap{
    margin-top: 150px;
    display: flex;
}

.title_7{
    font-size: 38px;
    font-weight: 400;
    font-family: '20 Kopeek';
    margin-right: 276px;
    margin-bottom: 30px;
}
.title_8{
    font-size: 38px;
    font-weight: 400;
    font-family: '20 Kopeek';
    margin-bottom: 30px;
    margin-left: 50px;
}

.form_2{
    display: flex;
}
.input_1{
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 23px 332px 23px 29px;
    font-size: 18px;
    font-weight: 400;
    font-family: '20 Kopeek';
    width: 445px;
    margin-bottom: 10px;
}
.input_2{
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 23px 244px 23px 29px;
    font-size: 18px;
    font-weight: 400;
    font-family: '20 Kopeek';
    width: 445px;
}
.text_2{
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    font-family: '20 Kopeek';
    margin-left: 125px;
    padding-bottom: 15px;
}
.btn_2{
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
    font-size: 18px;
    font-family: '20 Kopeek';
    color: #FFFFFF;
    border: none;
    margin-top: 48px;
    margin-bottom: 127px;
}
.btn_2:hover{
    background: #01996D;
    color: chartreuse;
}

.checkbox{
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 21px;
}

.i_agree{
    font-weight: 400;
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2B59C3;
    margin-top: 21px;
}

.span2{
    color: #181818;
}


.owl-dots{
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
}

.owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #2B59C3;
    border-radius: 50%;
}


.owl-dot{
    display: inline-block;
    margin: 7px;
}

.owl-dot.active span{
    background-color: gold;
}

.owl-dot:hover span{
    width: 15px;
    height: 15px;
    transition: 0.3s;
}




#accordion{
    max-width: 1170px;
    margin: auto;
}

.ui-accordion .ui-accordion-header{
    background-color: #fce7f2;
    font-size: 28px;
    color: #860da6;
    border: none;
    border-radius: 0;
}


.ui-accordion .ui-accordion-content{
    background-color: #fef5fa;
}

.ui-accordion .ui-accordion-header.ui-state-active{
    background-color: #fef5fa
}

.ui-icon{
    position: absolute;
    right: 15px;
    background-image: none;
    background-position: 0;
    text-indent: 0;
}

.ui-icon{
    position: absolute;
    right: 15px;
    background-image: none;
    background-position: 0;
    text-indent: 0;
    width: auto;
    height: auto;
}

.ui-icon:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f054";
}

.ui-accordion .ui-accordion-header:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 7px;
    background-color: #860da6;
    position: relative;
    top: -5px;
}

.ui-accordion .ui-accordion-header.ui-state-hover span{
    background-image: none;
}

.ui-accordion .ui-accordion-header.ui-state-hover span:before{
    transform: rotate(90deg);
}

.git{
    display: flex;
}

.giit{

}