*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


header{
    position: absolute;
    width: 100%;
}

.logo{
    display: inline-block;
    padding-top: 31px;
}


.container{
    max-width: 1162px;
    margin: auto;
}

.container.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    padding-top: 32px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: '20 Kopeek', sans-serif;
}


header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.tel{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 27px 7px 33px;
    font-family: '20 Kopeek', sans-serif;
}

header li a{
    text-decoration:none;
    margin-left: 23px;
    color: #FFFFFF;

}

.social{
    padding-top: 32px;
    margin-left: 489px;
}


.section{
    background-image: url('../images/background.png');
    background-size: cover;
    padding-top: 344px;
    padding-bottom: 309px;
}

.title{
    max-width: 1162px;
    margin: auto;
    width: 100%;
}

.answer{
    margin-bottom: 55px;
    font-size: 34px;
    font-family: '20 Kopeek', sans-serif;
}

.question{
    margin-bottom: 30px;
    font-size: 55px;
    font-family: '20 Kopeek', sans-serif;
}


.portfolio{
    background: #FFFFFF;
    border-radius: 40px;
    padding: 23px 47px;
    margin-right: 20px;
    text-decoration:none;
    font-size: 18px;
    color: black;
    font-family: '20 Kopeek', sans-serif;
}

.fb{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 8px 12px 8px 12px;
    border-radius: 25px;
}

.inst{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 9px 9px 9px 9px;
    border-radius: 20px;
}

.w-50{
    width: 50%;
}

.box{
    display: flex;
}

.section-2{
    max-width: 1162px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 133px;
}

.question-2{
    font-family: '20 Kopeek', sans-serif;
    font-size: 38px;
    margin-bottom: 15px;
}


.text-2{
    font-family: '20 Kopeek', sans-serif;
    font-size: 18px;
    margin-left: 30px;
}


.text-3{
    margin-top: 150px;
    font-family: '20 Kopeek', sans-serif;
    font-size: 55px;
}


.description{
    font-family: '20 Kopeek', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
}

.number{
    font-family: '20 Kopeek', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 25px;
}

.ml-1{
    margin-left: 67px;
}

.ml-2{
    margin-left: 43px;
}
.ml-3{
    margin-left: 28px;
}

.ml-4{
    margin-left: 90px;
}
.row{
    display: flex;
    margin-top: 40px;
}

.w-40{
    width: 40%;
}

.mr{
    margin-right: 8px;
}

.fz{
    font-size: 15px;
}


.text-4{
    margin-top: 177px;
    font-family: '20 Kopeek', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;

}


.question-3{
    margin-top: 120px;
    font-family: '20 Kopeek', sans-serif;
    font-size: 38px;
    line-height: 110%;
    margin-left: 82px;
}

.background{
    padding: 11px 5px 11px 13px;
}


.background-2{
    background: #2B59C3;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 11px 5px 11px 13px;
}

.image{
    margin-top: 15px;
    margin-left: 82px;
}

.section-3{
    max-width: 1162px;
    margin: auto;
    padding-top: 144px;
    padding-bottom: 100px;
}

.w-100{
    width: 100%;
}

.amperia{
    font-family: "20 Kopeek";
    font-size: 55px;
    line-height: 15px;
    margin-top: 60px;
}


.ff-1{
    font-family: "20 Kopeek";
    font-size: 18px;
    font-weight: 600;
}


.see{
    font-size: 18px;
    font-weight: 600;
    font-family: "20 Kopeek";
    padding: 25px 47px;
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    text-decoration: none;
}


.margin{
    margin-top: 60px;
    margin-left: 136px;
}


.flex{
    display: flex;
}

.mt-100{
    margin-top: 100px;
}

.a-1{
    display: inline-block;
    padding: 23px 47px;
    background: #2B59C3;
    border-radius: 40px;
    font-size: 26px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 76px;
    text-decoration: none;
}

.center{
    text-align: center;
}

.section-4{
    max-width: 1162px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.background-3{
    margin-top: 56px;
    margin-left: 16px;
    background: #2B59C3;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 11px 39px 18px 14px;
    font-family: "20 Kopeek";
    font-size: 20px;
    line-height: 110%;
    font-weight: 600;
}

.background-4{
    margin-left: 16px;
    padding: 11px 39px 18px 14px;
    font-family: "20 Kopeek";
    font-size: 20px;
    line-height: 110%;
    font-weight: 600;
}

.mt-15{
    margin-top: 15px;
}

.text-5{
    font-family: "20 Kopeek";
    font-size: 26px;
    line-height: 110%;
}

.text-6{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
}

.product{
    font-family: "20 Kopeek";
    font-size: 38px;
    font-weight: 400;
    line-height: 41px;
    margin-top: 77px;
    margin-bottom: 11px;
}

.form-1{
    margin-right: 30px;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 23px 149px 23px 29px;
    font-size: 18px;
    font-weight: 400;
    font-family: "20 Kopeek";
    width: 350px;
}

.btn{
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
    font-size: 18px;
    font-family: "20 Kopeek";
    color: #FFFFFF;
    border: none;
}
.btn:hover{
    background: #01996D;
    color: chartreuse;
}

.box2{
    align-items: center;
    display: flex;
}


.checkbox{
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 21px;
}

.i-agree{
    font-weight: 600;
    font-family: "20 Kopeek";
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2B59C3;
}

.span{
    color: #181818;
}

.product{
    font-family: "20 Kopeek";
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    margin-top: 77px;
    margin-bottom: 11px;
}
.expert{
    font-family: "20 Kopeek";
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 27px;
}